{% extends "base.html.twig" %}

{% block title %}Know more?{% endblock %}

{% block body %}

  {% for event in timeline %}
  </br>
  <div class="card">
    <div class="card-header">
      {{ event.year }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <p class="card-text">{{ event.description|raw }}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endfor %}

{% endblock %}