</br>
<nav class="navbar sticky-top navbar-light ">
  <div class="container-fluid justify-content-center">
    <ul class="nav justify-content-center  bg-dark w-100" style="--bs-bg-opacity: .5">
  <li class="nav-item">
    <a class="nav-link active text-white" href="https://www.linkedin.com/in/eddy-rajaonarivelo/" target="_blank">Linkedin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href="https://github.com/eddyRAJA" target="_blank">githubLink</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href="https://www.canva.com/design/DAEleTXEOjI/4FViQelPwtMS_Bz3qGf5TQ/view" target="_blank">my CV</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href=" {{ path('app_contact') }}">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-white" href=" /admin">AdminSpace</a>
  </li>
</ul>
  </div>
</nav>