<nav class="navbar navbar-expand-lg sticky-top navbar-light ">
  <div class="container-fluid">
    <ul class="nav justify-content-center  bg-dark w-100" style="--bs-bg-opacity: .6">
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="{{ path('app_home') }} ">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('more') }} ">timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="{{ path('app_project') }} ">projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-white" href=" {{ path('app_contact') }}">contact</a>
      </li>
    </ul>
  </div>
</nav>
</br>
