{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

  <div class="jumbotron text-center">
    <h1 class="display-4">AdminSpace</h1>
    <p class="lead">Welcome to the space for administrator!</p>

    <img src="{{ asset('build/images/logo.png') }}" class="rounded mx-auto d-block" alt="...">

  </div>

{% endblock %}