{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}

  <div class="jumbotron text-center m-auto">
    <h1 class="display-4">AdminSpace</h1>
  </br>
</br>
<p class="lead">Welcome to the space for administrator!</p>
</br>
</br>
</br>
<img src="{{ asset('build/images/logo.png') }}" class="rounded mx-auto d-block" alt="...">
</div>

{% endblock %}