{% extends 'base.html.twig' %}

{% block title %}All projects!{% endblock %}

{% block body %}
  <h1>My projects</h1>

  {% for project in projects %}
  </br>
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        {{ project.title }}
      </h2>
    </div>
    <div class="card-body">
      <p class="card-text">{{ project.pitch|raw }}</p>
      <a href="{{ path('show_project', {'id': project.id}) }} " class="btn btn-primary btn-sm">More</a>
    </div>
  </div>
{% endfor %}

{% endblock %}
